#dashboardMainContainer {
  display: flex;
  flex-direction: row;
}

.dashboard_sidebar {
  width: 20%;
  background: #323232;
  height: 100vh;
  padding: 0;
}

.dashboard_content_container {
  width: 70%;
}
