body {
  background: url("../images/blur-parliament.png") no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

div.loginHeader {
  text-align: center;
  margin-bottom: 60px;
}

div.loginHeader h1 {
  font-size: 65px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
}

div.loginHeader h3 {
  color: white;
  font-size: 60px;
  margin: 0px;
  display: inline-block;
  text-transform: uppercase;
}

div.loginHeader h3::after {
  content: "";
  display: block;
  height: 5px;
  background-color: black;
  margin: 0 auto;
}

div.loginBody form {
  margin: 0 auto;
  width: 500px;
  background: rgba(0, 0, 0, 0.5);
  padding: 50px;
  border: 2px solid #0000;
  border-radius: 20px;
}

.loginInputsContainer {
  margin-top: 20px;
}

.loginInputsContainer label {
  display: block;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.loginInputsContainer input {
  height: 25px;
  width: 100%;
  border: 2px solid #0000;
  font-size: 20px;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
  outline: none;
  text-decoration: none;
}

.loginInputsContainer input:hover {
  border-color: #3b82f6;
}

.loginInputsContainer input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.2);
}

.loginButtonContainer {
  margin-top: 40px;
  text-align: center;
}

.selectorContainer {
  margin-top: 20px;
}

.selectorContainer label {
  display: block;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.selectorContainer select {
  width: 100%;
  padding: 5px;
  font-size: 20px;
  border-radius: 15px;
  border: 1px solid #ccc;
  outline: none;
  box-sizing: border-box;
  text-align: center;
}

/* Hover */
.selectorContainer select:hover {
  border-color: #3b82f6;
}

/* Focus */
.selectorContainer select:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.2);
}

/* Disabled / placeholder look */
.selectorContainer select option[value=""] {
  color: #999;
  border-radius: 10px;
}

.loginButtonContainer button {
  font-size: 20px;
  padding: 10px 30px;
  background: black;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* Style the paragraph */
.loginButtonContainer p {
  margin-top: 15px;
  font-size: 18px;
  text-align: center;
  color: white;
}

/* Style the link */
.loginButtonContainer p a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

/* Hover effect for the link */
.loginButtonContainer p a:hover {
  text-decoration: none;
  color: #0056b3;
}

.error {
  color: red;
  font-size: 0.8rem;
}
